/* 
 * Ali.MD - 1Stylus v2.0 rc (1Styles for Stylus)
 *
 * 1Styles source code writed in Stylus.
 * For more information about stylus visit ali.md/stylus
 *
 * http://ali.md/1styles
 * Copyright (c) 2012 Ali Mihandoost under MIT License.
 * fork me on github.
 *
 * Note: For use 1styles in stylus :
 *	Copy 1stylus folder in your project and import it
 *	in first of your .styl file befor other codes.
 */

{'/* 
 * Ali.MD - 1Styles v2.0 rc
 * http://ali.md/1styles
 * Copyright (c) 2012 Ali Mihandoost under MIT License.
 * fork me on github.
 */
span'}
	color inherit

/* Grid Config
-------------------------------------------------- */

page_width	= 950
grid_num	= 24
grid_margin	= 10
grid_width	= (page_width + grid_margin) / grid_num - grid_margin

@charset "UTF-8"

@media all

	@import '1reset' // optional

	@import 'layout_helper'

	@import 'text'

	@import 'grid'

@media print

	@import 'print'
