
.container
	// A container should group all your columns.
	width 950px
	margin 0 auto

.left
	float left

.right
	float right

.cover
	// same as add badboy child
	*zoom 1
	&:before
	&:after
		content ""
		display block
		height 0
	&:after
		clear both

.badboy
	clear both
	width 0 !important
	height 0 !important
	min-height 0 !important
	min-width 0 !important
	overflow hidden

.zedloos
	padding-top 1px
	padding-bottom 1px

.mla, .mlra
	margin-left auto

.mra, .mlra
	margin-right auto

.overhide
	overflow hidden

// fonts
for i in 1..40
	{'.f'+i}
		font-size (i*2/16) em
