
.container
	// A container should group all your columns.
	width 950px
	margin 0 auto

.left
	float left

.right
	float right

.rel, .relative
	position relative

.abs, .absolute
	position absolute

.fix, .fixed
	position fixed

.cover
	// same as add badboy child
	*zoom 1 // for ie bug, * work in ie only
	&:before
	&:after
		content " "
		// table for zedloos
		display table
	&:after
		clear both

.badboy
	clear both
	display block
	width 0 !important
	height 0 !important
	min-height 0 !important
	min-width 0 !important
	margin 0 !important
	padding 0 !important
	overflow hidden

.zedloos
	padding-top 1px
	padding-bottom 1px

.mla, .mlra
	margin-left auto !important

.mra, .mlra
	margin-right auto !important

.overhide, .overhidden
	overflow hidden

.overscrl, .overscroll
	overflow scroll

// fonts
for i in 1..40
	{'.f'+i}
		font-size (i*2/16) em
